{# {% set col_label = "col-lg-5 col-form-label text-lg-right mr-0 mr-lg-4" %} #}
{% set col_label = "col-lg-5 col-form-label text-lg-right pr-0 pr-lg-4" %}
{% set col_input = "col-lg-6" %}
{# {% set help_icon %}<i style="height:1rem" class="align-middle" data-feather="help-circle"></i>{% endset %} #}
{% set help_icon %}<i style="height:1rem" class="align-baseline" data-feather="help-circle"></i>{% endset %}
{% set row_classes = "form-group form-row" %}
{% macro help_column(label, tooltip) -%}
<div class="col d-none d-lg-block text-right">
    <a tabindex="0" class="text-secondary" data-placement="top" data-toggle="popover" data-trigger="hover focus" title="{{ label }}" data-content="{{ tooltip }}">
        {{ help_icon }}
    </a>
</div>
{%- endmacro %}

{% macro button(name, id, class="primary") -%}
<button class="btn btn-{{ class }} btn-block btn-sm" id="{{ id }}">{{ name }}</button>
{%- endmacro %}

{% macro input(label, id, type="text", required=false, tooltip="", readonly=false, autocapitalize="") -%}
<div class="{{ row_classes }}">
    <label for="{{ id }}" class="{{ col_label }}">
        {{ label }}
        {# need class hover to trigger on mobile #}
        <a tabindex="0" class="text-secondary d-block d-lg-none float-right" data-placement="top" data-toggle="popover" data-trigger="hover focus" 
            title="{{ label }}" data-content="{{ tooltip }}">
            {{ help_icon }}
        </a>
    </label>
    <div class="{{ col_input }}">
        <input 
            class="form-control" 
            type="{{ type }}" 
            id="{{ id }}" 
            {% if readonly %} readonly="readonly"{% endif %} 
            {% if required %} required {% endif %} 
            {% if type == "password" %} autocomplete="new-password" {% endif %} 
            autocapitalize="{{ autocapitalize }}">
    </div>
    {{ help_column(label, tooltip) }}
</div>
{%- endmacro %}

{% macro info(label, value) -%}
<div class="{{ row_classes }} my-0 d-flex justify-content-between">
    <label class="col-form-label text-lg-right pr-4 py-1">
        {{ label }}
    </label>
    <div class="col-form-label py-1">
        {{ value }}
    </div>
</div>
{# <div class="{{ row_classes }} my-0">
    <label class="{{ col_label }} py-1">
    <label class="col-10 col-lg-5 col-form-label text-lg-right pr-4 py-1">
        {{ label }}
    </label>
    <div class="col-lg-7 col-form-label py-1">
        {{ value }}
    </div>
</div> #}
{%- endmacro %}

{% macro infoCallback(label, tooltip) -%}
<div class="{{ row_classes }} my-0 {% if label == "" %}py-lg-0 py-2{% endif %}">
    <label for="{{ id }}" class="{{ col_label }} {% if not label %}d-none d-lg-block{% endif %}">
    {# <label for="{{ id }}" class="{{ col_label }}"> #}
        {{ label }}
        {# need class hover to trigger on mobile #}
        <a tabindex="0" class="text-secondary d-block d-lg-none float-right" data-placement="top" data-toggle="popover" data-trigger="hover focus" 
            title="{{ label }}" data-content="{{ tooltip }}">
            {{ help_icon }}
        </a>
    </label>
    <div class="{{ col_input }}">
        {{ caller() }}
    </div>
    {{ help_column(label, tooltip) }}
</div>
{%- endmacro %}
    
{% macro input_range(label, id, tooltip, min, max, snap, ticksnum, decimals=0) -%}
<div class="{{ row_classes }} align-items-center">
    <label class="{{ col_label }}" for="{{ id }}">
        <!-- <a tabindex="0" class="" data-toggle="popover" data-trigger="focus hover" title="Layout Columns" data-content="configures the number of columns used to lay out the camera frames"> -->
        {{ label }}
        <!-- </a> -->
        {# need class hover to trigger on mobile #}
        <a tabindex="0" class="text-secondary d-block d-lg-none float-right" data-placement="top" data-toggle="popover" data-trigger="hover focus" 
            title="{{ label }}" data-content="{{ tooltip }}">
            {{ help_icon }}
        </a>
    </label>
    <div class="{{ col_input }}">
        <input type="range" id="{{ id }}" min="{{ min }}" max="{{ max }}" snap="{{ snap }}" ticksnum="{{ ticksnum }}" decimals="{{ decimals }}" class="custom-range align-bottom">
    </div>
    {{ help_column(label, tooltip) }}
    <!-- <small id="emailHelp" class="col form-text text-muted">configures the number of columns used to lay out the camera frames</small> -->
</div>
{%- endmacro %}

{% macro input_check(label, id, tooltip, min, max, snap, ticksnum, decimals=0) -%}
<div class="{{ row_classes }} custom-control custom-switch pl-0">
{# <div class="form-group form-row custom-control ml-n3 custom-switch pl-0"> #}

    {# positioning the checkbox is a dirty hack and may break somewhere #}
    {# both labels are required for this to work #}
    {# input checkbox is pushed around by the labels margins #}
    <label class="col-lg-5 float-left text-lg-right pr-4 pl-1 pl-lg-0 mr-n2" for="">
        {{ label }}
        <a tabindex="0" class="text-secondary d-block d-lg-none float-right mr-n4" data-placement="top" data-toggle="popover" data-trigger="hover focus" 
            title="{{ label }}" data-content="{{ tooltip }}">
            {{ help_icon }}
        </a>
    </label>

    <input type="checkbox" class="custom-control-input" id="{{ id }}">

    {# A label *after* the input is required, wtf bootstrap #}
    {# col-auto to make it only as wide as the label #}
    <label class="col-auto ml-5 custom-control-label" for="{{ id }}">
        {# need class hover to trigger on mobile #}
        <!-- <a tabindex="0" class="text-info d-block d-lg-none float-right" data-placement="top" data-toggle="popover" data-trigger="hover focus" title="Fit Frames Vertically" data-content="controls whether frame sizes can be reduced to vertically fit the window or not">
            <i style="height:1rem" class="align-middle" data-feather="help-circle"></i>
        </a> -->
    </label>
    <!-- <div class="col-lg-1 mr-1 d-none d-lg-inline-block"> -->
    {# {{ help_column(label, tooltip) }} #}
    <div class="col-auto d-none d-lg-block text-right float-right">
        <a tabindex="0" class="text-secondary" data-placement="top" data-toggle="popover" data-trigger="hover focus" title="{{ label }}" data-content="{{ tooltip }}">
            {{ help_icon }}
        </a>
    </div>
</div>

<div class="clearfix"></div>
{%- endmacro %}

{% macro input_check_bak(label, id, tooltip, min, max, snap, ticksnum, decimals=0) -%}
<div class="{{ row_classes }} custom-control custom-switch d-flex float-right">
    <input type="checkbox" class="custom-control-input" id="{{ id }}">
    {# col-auto to make it only as wide as the label #}
    <label class="col-auto ml-1 custom-control-label" for="{{ id }}">
        {{ label }}
        {# need class hover to trigger on mobile #}
        <!-- <a tabindex="0" class="text-info d-block d-lg-none float-right" data-placement="top" data-toggle="popover" data-trigger="hover focus" title="Fit Frames Vertically" data-content="controls whether frame sizes can be reduced to vertically fit the window or not">
            <i style="height:1rem" class="align-middle" data-feather="help-circle"></i>
        </a> -->
    </label>
    <!-- <div class="col-lg-1 mr-1 d-none d-lg-inline-block"> -->
    <div class="col text-right">
        <a tabindex="0" class="text-secondary" data-placement="top" data-toggle="popover" data-trigger="hover focus" title="{{ label }}" data-content="{{ tooltip }}">
            {{ help_icon }}
        </a>
    </div>
</div>
<div class="clearfix"></div>
{%- endmacro %}

<!-- <div class="custom-control custom-switch my-2">
    <input type="checkbox" class="custom-control-input" id="fitFramesVerticallySwitch">
    <label class="custom-control-label" for="fitFramesVerticallySwitch">Fit Frames Vertically</label>
</div> -->

<!-- <div class="form-group align-top">
    <label for="layoutColumnsSlider">
        <a tabindex="0" class="" data-toggle="popover" data-trigger="focus hover" title="Layout Columns" data-content="configures the number of columns used to lay out the camera frames">
            Layout Columns
        </a>
    </label>
    {# <a tabindex="0" class="text-secondary" data-toggle="popover" data-trigger="hover" title="Layout Columns" data-content="configures the number of columns used to lay out the camera frames">
        <i style="height:1rem" class="align-middle" data-feather="help-circle"></i>
    </a> #}
    <input type="range" id="layoutColumnsSlider" min="1" max="4" snap="1" ticksnum="4" decimals="0" class="custom-range" id="customRange1">
    {# <small id="emailHelp" class="form-text text-muted">configures the number of columns used to lay out the camera frames</small> #}
</div>

<label for="layoutRowsSlider">Layout Rows</label>
<input type="range" id="layoutRowsSlider" min="1" max="4" snap="1" ticksnum="4" decimals="0" class="custom-range" id="customRange1">

-->


<!-- <form class="form"> -->
<!-- <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3">
    </div>
</div> -->
<!-- 
</div>
<fieldset class="form-group">
    <div class="row">
    <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
    <div class="col-sm-10">
        <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
        <label class="form-check-label" for="gridRadios1">
            First radio
        </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        <label class="form-check-label" for="gridRadios2">
            Second radio
        </label>
        </div>
        <div class="form-check disabled">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
        <label class="form-check-label" for="gridRadios3">
            Third disabled radio
        </label>
        </div>
    </div>
    </div>
</fieldset>
<div class="form-group row">
    <div class="col-sm-2">Checkbox</div>
    <div class="col-sm-10">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
        Example checkbox
        </label>
    </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-10">
    <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</div> -->
<!-- </form> -->