{% macro settings_range_input(id="", label="", input_id="", tooltip="", min=0, max=0, snap=0, ticksnum=0, decimals=0) -%}
<tr class="settings-item" min="{{ min }}" max="{{ max }}" snap="{{ snap }}" 
    {% if ticksnum is string -%} ticks {%- else -%} ticksnum {%- endif %}="{{ ticksnum }}" 
    decimals="{{ decimals }}" id="{{ id }}">
    <td class="settings-item-label"><span class="settings-item-label">{{ label }}</span></td>
    <td class="settings-item-value"><input type="text" class="range styled prefs" id="{{ input_id }}"></td>
    <td><span class="help-mark" title="{{ tooltip }}">?</span></td>
</tr>
{%- endmacro %}

{% macro settings_text_input(id, label, classes, tooltip="", placeholder="", required=false, strip=false, readonly=false) -%}
<tr class="settings-item" strip="true" {% if required %} required="true" {% endif %} {% if strip %}strip="true" {% endif %}>
    <td class="settings-item-label"><span class="settings-item-label">{{ label }}</span></td>
    <td class="settings-item-value"><input type="text" class="styled {{ classes }}" id="{{ id }}" 
        {% if placeholder|length > 0 %}
        placeholder="{{ placeholder }}"
        {% endif %} 
        {% if readonly %} readonly="readonly" {% endif %}></td>
    {% if tooltip|length > 0 %}
    <td><span class="help-mark" title="{{ tooltip }}">?</span></td>
    {% endif %}
</tr>
{%- endmacro %}

{% macro settings_check_input(id, label, classes, tooltip="") -%}
<tr class="settings-item">
    <td class="settings-item-label"><span class="settings-item-label">{{ label }}</span></td>
    <td class="settings-item-value"><input type="checkbox" class="styled {{ classes }}" id="{{ id }}"></td>
    <td><span class="help-mark" title="{{ tooltip }}">?</span></td>
</tr>
{%- endmacro %}

{% set settings_item_separator -%}
<tr class="settings-item">
    <td colspan="100"><div class="settings-item-separator"></div></td>
</tr>
{%- endset %}

{% set settings_section_separator -%}
<tr class="settings-item">
    <td colspan="100"><div class="settings-item-separator" style="margin: 0px 0px 1.5em 0px;"></div></td>
</tr>
{%- endset %}

{% macro settings_section_title(title, id, tooltip) -%}
<div class="settings-section-title" id="{{ id }}">
    {{ caller() }}
    <span class="help-mark" title="{{ tooltip }}">?</span>
    <a class="settings-section-title">{{ title }}</a>
    <span class="minimize open"></span>
</div>
{%- endmacro %}