{% extends "base.html" %}

{% macro config_item(config, depends="") -%}
    <tr class="settings-item additional-config"
            {% if config.get('reboot') and enable_reboot %}reboot="true"{% endif %}
            {% if config.get('required') %}required="true"{% endif %}
            {% if config.get('strip') %}strip="true"{% endif %}
            {% if config.get('depends') %}depends="{{' '.join(config['depends'])}}{% if depends %} {{depends}}{% endif %}"{% endif %}
            {% if config.get('min') is not none %}min="{{config['min']}}"{% endif %}
            {% if config.get('max') is not none %}max="{{config['max']}}"{% endif %}
            {% if config.get('floating') %}floating="true"{% endif %}
            {% if config.get('sign') %}sign="true"{% endif %}
            {% if config.get('snap') is not none %}snap="{{config['snap']}}"{% endif %}
            {% if config.get('ticks') %}ticks="{{config['ticks']}}"{% endif %}
            {% if config.get('ticksnum') is not none %}ticksnum="{{config['ticksnum']}}"{% endif %}
            {% if config.get('decimals') is not none %}decimals="{{config['decimals']}}"{% endif %}
            {% if config.get('unit') %}unit="{{config['unit']}}"{% endif %}
            {% if config.get('validate') %}validate="{{config['validate']}}"{% endif %}>
        {% if config['type'] == 'separator' %}
        <td colspan="100"><div class="settings-item-separator"></div></td>
        {% else %}
        <td class="settings-item-label"><span class="settings-item-label">{{config['label']}}</span></td>
        <td class="settings-item-value">
            {% if config['type'] == 'str' %}
                <input type="text" class="styled {{config['section']}} {% if config.get('camera') %}camera{% else %}main{% endif %}-config" id="{{config['name']}}Entry">
                {% if config['unit'] %}<span class="settings-item-unit">{{config['unit']}}</span>{% endif %}
            {% elif config['type'] == 'pwd' %}
                <input type="password" autocomplete="new-password" class="styled {{config['section']}} {% if config.get('camera') %}camera{% else %}main{% endif %}-config" id="{{config['name']}}Entry">
            {% elif config['type'] == 'number' %}
                <input type="text" class="number styled {{config['section']}} {% if config.get('camera') %}camera{% else %}main{% endif %}-config" id="{{config['name']}}Entry">
                {% if config['unit'] %}<span class="settings-item-unit">{{config['unit']}}</span>{% endif %}
            {% elif config['type'] == 'range' %}
                <input type="text" class="range styled {{config['section']}} {% if config.get('camera') %}camera{% else %}main{% endif %}-config" id="{{config['name']}}Slider">
            {% elif config['type'] == 'bool' %}
                <input type="checkbox" class="styled {{config['section']}} {% if config.get('camera') %}camera{% else %}main{% endif %}-config" id="{{config['name']}}Switch">
            {% elif config['type'] == 'choices' %}
                <select class="styled {{config['section']}} {% if config.get('camera') %}camera{% else %}main{% endif %}-config" id="{{config['name']}}Select">
                    {% for choice in config['choices'] %}
                    <option value="{{choice[0]}}">{{choice[1]}}</option>
                    {% endfor %}
                </select>
                {% if config['unit'] %}<span class="settings-item-unit">{{config['unit']}}</span>{% endif %}
            {% elif config['type'] == 'html' %}
                <div class="html styled {{config['section']}} {% if config.get('camera') %}camera{% else %}main{% endif %}-config" id="{{config['name']}}Html"></div>
            {% endif %}
        </td>
        <td>{% if config.get('description') %}<span class="help-mark" title="{{config['description']}}">?</span>{% endif %}</td>
        {% endif %}
    </tr>
{%- endmacro %}

{% block title %}{% if title %}{{title}}{% else %}{{hostname}}{% endif %}{% endblock %}

{% block style %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{static_path}}bootstrap-4.5.0-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="{{static_path}}css/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="{{static_path}}css/custom.css" />
    <!-- <link rel="stylesheet" type="text/css" href="{{static_path}}css/ui.css?v={{version}}" /> -->
    <link rel="stylesheet" type="text/css" href="{{static_path}}css/floating-labels.css" />
    <!-- <link rel="stylesheet" type="text/css" href="{{static_path}}css/main.css?v={{version}}" /> -->
    {% if frame %}
        <link rel="stylesheet" type="text/css" href="{{static_path}}css/frame.css?v={{version}}" />
    {% endif %}
{% endblock %}

{% block script %}
    {{super()}}
    <script src="https://unpkg.com/feather-icons"></script>
    <script type="text/javascript" src="{{static_path}}bootstrap-4.5.0-dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="{{static_path}}js/ui.js?v={{version}}"></script>
    <script type="text/javascript" src="{{static_path}}js/utilities.js?v={{version}}"></script>
    <script type="text/javascript" src="{{static_path}}js/main.js?v={{version}}"></script>
    {% if frame %}
        <script type="text/javascript" src="{{static_path}}js/frame.js?v={{version}}"></script>
    {% endif %}
    <script type="text/javascript">
        var adminUsername = '{{admin_username}}';
        var frame = {% if frame %}true{% else %}false{% endif %};
        var hasLocalCamSupport = {% if has_motion %}true{% else %}false{% endif %};
        var hasNetCamSupport = {% if has_motion %}true{% else %}false{% endif %};
        {% if mask_width %}
        var maskWidth = {{mask_width}};
        {% endif %}
    </script>
{% endblock %}

{% block body %}
    {% if not frame %}
        <div class="page">
            <!-- Overlay, must be placed direct after the opening body tag. -->
            <div class="bs-canvas-overlay bs-canvas-anim bg-dark position-fixed w-100 h-100"></div>
            {% include("topbar.html") %}

            {% include("sidebar.html") %}

            <img class="background-logo" src="{{static_path}}img/motioneye-logo.svg">
            <!-- <img class="background-logo" src="{{static_path}}img/motioneye-logo.svg" onmousedown="return false;"> -->
            <div class="page-container"></div>
            <div class="footer">
                <div class="copyright-note">copyright &copy; Calin Crisan</div>
            </div>
        </div>
    {% else %}
        <div class="camera-frame" id="camera{{camera_id}}"
            streaming_framerate="{{camera_config['stream_maxrate']}}" streaming_server_resize="{{camera_config['@webcam_server_resize']|string|lower}}"
            proto="{{camera_config['@proto']}}" url="{{camera_config['@url']}}">
            
            <div class="camera-container">
                <div class="camera-placeholder"><img class="no-camera" src="{{static_path}}img/no-camera.svg"></div><img
                class="camera"><div class="camera-progress"><img class="camera-progress"></div>
            </div>
        </div>
    {% endif %}
    <div class="modal-glass"></div>
    <div class="modal-container"></div>
    <div class="popup-message-container"></div>
{% endblock %}
