{% extends "base.html" %}
{% from 'config_item.j2'import config_item %}

{% block title %}{{ title if title else hostname }}{% endblock %}

{% block style %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{static_path}}bootstrap-4.5.0-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="{{static_path}}css/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="{{static_path}}css/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{static_path}}css/floating-labels.css" />
    <!-- <link rel="stylesheet" type="text/css" href="{{static_path}}css/ui.css?v={{version}}" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{static_path}}css/main.css?v={{version}}" /> -->
    {% if frame %}
        <link rel="stylesheet" type="text/css" href="{{static_path}}css/frame.css?v={{version}}" />
    {% endif %}
{% endblock %}

{% block script %}
    {{super()}}
    <script src="https://unpkg.com/feather-icons"></script>
    <script type="text/javascript" src="{{static_path}}bootstrap-4.5.0-dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="{{static_path}}js/sidebar.js"></script>
    <script type="text/javascript" src="{{static_path}}js/ui.js?v={{version}}"></script>
    <script type="text/javascript" src="{{static_path}}js/utilities.js?v={{version}}"></script>
    <script type="text/javascript" src="{{static_path}}js/main.js?v={{version}}"></script>
    <script type="text/javascript" src="{{static_path}}js/main_ui.js?v={{version}}"></script>
    <script type="text/javascript" src="{{static_path}}js/main_settings.js?v={{version}}"></script>
    <script type="text/javascript" src="{{static_path}}js/main_cameraframes.js?v={{version}}"></script>
    <script type="text/javascript" src="{{static_path}}js/main_dialogs.js?v={{version}}"></script>
    <script type="text/javascript" src="{{static_path}}js/main_fetchpush.js?v={{version}}"></script>
    <script type="text/javascript" src="{{static_path}}js/main_progress.js?v={{version}}"></script>
    {% if frame %}
        <script type="text/javascript" src="{{static_path}}js/frame.js?v={{version}}"></script>
    {% endif %}
    <script type="text/javascript">
        var adminUsername = '{{admin_username}}';
        var frame = {% if frame %}true{% else %}false{% endif %};
        var hasLocalCamSupport = {% if has_motion %}true{% else %}false{% endif %};
        var hasNetCamSupport = {% if has_motion %}true{% else %}false{% endif %};
        {% if mask_width %}
        var maskWidth = {{mask_width}};
        {% endif %}
    </script>
{% endblock %}

{% block body %}
    {% if not frame %}
        <div class="page">
            <!-- Overlay, must be placed direct after the opening body tag. -->
            {# <div class="bs-canvas-overlay bs-canvas-anim bg-dark position-fixed w-100 h-100"></div> #}
            {% include("topbar.html") %}

            {% include("sidebar.html") %}

            <img class="background-logo" src="{{static_path}}img/motioneye-logo.svg">
            <!-- <img class="background-logo" src="{{static_path}}img/motioneye-logo.svg" onmousedown="return false;"> -->
            <div class="page-container"></div>
            <div class="footer">
                <div class="copyright-note">copyright &copy; Calin Crisan</div>
            </div>
        </div>
    {% else %}
        <div class="camera-frame" id="camera{{camera_id}}"
            streaming_framerate="{{camera_config['stream_maxrate']}}" streaming_server_resize="{{camera_config['@webcam_server_resize']|string|lower}}"
            proto="{{camera_config['@proto']}}" url="{{camera_config['@url']}}">
            
            <div class="camera-container">
                <div class="camera-placeholder"><img class="no-camera" src="{{static_path}}img/no-camera.svg"></div><img
                class="camera"><div class="camera-progress"><img class="camera-progress"></div>
            </div>
        </div>
    {% endif %}
    <div class="modal-glass"></div>
    <div class="modal-container"></div>
    <div class="popup-message-container"></div>
{% endblock %}
