{% extends "card.j2" %}
{% import 'forms.j2' as forms %}
{% set id = "deviceSectionDiv" %}
{% set id2 = "collapseThree" %}

{% block cardheader %}

    <div class="custom-control custom-switch float-left align-bottom">
        <input type="checkbox" class="custom-control-input" id="videoDeviceEnabledSwitch">
        <label class="custom-control-label" for="videoDeviceEnabledSwitch"></label>
    </div>

        <a class="collapsed" data-toggle="collapse" href="#{{ id2 }}" aria-expanded="false" aria-controls="{{ id2 }}">
            Video Device
        </a>
        <!-- <a tabindex="0" class="text-secondary" data-toggle="popover" data-trigger="focus" title="" data-content="User Preferences">
            <i style="height:1rem" class="align-middle" data-feather="help-circle"></i>
        </a> -->
    <!-- </div> -->
{% endblock %}

{% block cardbody %}
    {# {{ forms.input_range(
        "Layout Columns", 
        "layoutColumnsSlider", 
        "configures the number of columns used to lay out the camera frames", 
        1, 4, 1, 4, 0) 
        }}
    {{ forms.input_check(
        "Fit Frames Vertically", 
        "fitFramesVerticallySwitch", 
        "controls whether frame sizes can be reduced to vertically fit the window or not") 
        }} #}

<!-- Video Device -->
<div class="settings-section-title" id="deviceSectionDiv">
    <input type="checkbox" class="styled section device camera-config" id="videoDeviceEnabledSwitch">
    <span class="help-mark" title="enable this if you want to use this camera device">?</span>
    <a class="settings-section-title">Video Device</a>
    <span class="minimize open"></span>
</div>
<table class="settings">
    <tr class="settings-item" required="true" strip="true">
        <td class="settings-item-label"><span class="settings-item-label">Camera Name</span></td>
        <td class="settings-item-value"><input type="text" class="styled device camera-config" id="deviceNameEntry" placeholder="camera name..."></td>
        <td><span class="help-mark" title="an alias for this camera device">?</span></td>
    </tr>
    <tr class="settings-item" required="true" strip="true">
        <td class="settings-item-label"><span class="settings-item-label">Camera ID</span></td>
        <td class="settings-item-value"><input type="text" class="styled device camera-config" id="deviceIdEntry" readonly="readonly"></td>
        <td><span class="help-mark" title="the camera identifier number">?</span></td>
    </tr>
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label">Camera Device</span></td>
        <td class="settings-item-value"><input type="text" class="styled device camera-config" id="deviceUrlEntry" readonly="readonly"></td>
    </tr>
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label">Camera Type</span></td>
        <td class="settings-item-value"><input type="text" class="styled device camera-config" id="deviceTypeEntry" readonly="readonly"></td>
    </tr>
    <tr class="settings-item">
        <td colspan="100"><div class="settings-item-separator"></div></td>
    </tr>
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label">Automatic Brightness</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled device camera-config" id="autoBrightnessSwitch"></td>
        <td><span class="help-mark" title="enables software automatic brightness (only recommended for cameras without autobrightness)">?</span></td>
    </tr>
    <tr class="settings-item">
        <td colspan="100"><div class="settings-item-separator"></div></td>
    </tr>
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label">Video Resolution</span></td>
        <td class="settings-item-value">
            <select class="video-resolution styled device camera-config" id="resolutionSelect">
            </select>
        </td>
        <td><span class="help-mark" title="the video resolution (larger values produce better quality but require more CPU power, larger storage space and bandwidth)">?</span></td>
    </tr>
    <tr class="settings-item" min="96" max="4096" required="true" depends="resolution=custom">
        <td class="settings-item-label"><span class="settings-item-label">Width</span></td>
        <td class="settings-item-value"><input type="text" class="styled number device camera-config" id="customWidthEntry"></td>
        <td><span class="help-mark" title="enter a custom resolution width">?</span></td>
    </tr>
    <tr class="settings-item" min="96" max="4096" required="true" depends="resolution=custom">
        <td class="settings-item-label"><span class="settings-item-label">Height</span></td>
        <td class="settings-item-value"><input type="text" class="styled number device camera-config" id="customHeightEntry"></td>
        <td><span class="help-mark" title="enter a custom resolution height">?</span></td>
    </tr>
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label">Video Rotation</span></td>
        <td class="settings-item-value">
            <select class="rotation styled device camera-config" id="rotationSelect">
                <option value="0">0&deg;</option>
                <option value="90">90&deg;</option>
                <option value="180">180&deg;</option>
                <option value="270">270&deg;</option>
            </select>
        </td>
        <td><span class="help-mark" title="use this to rotate the captured image, if your camera is not positioned correctly">?</span></td>
    </tr>
    <tr class="settings-item" min="2" max="30" snap="0" ticks="2|5|10|15|20|25|30" decimals="0">
        <td class="settings-item-label"><span class="settings-item-label">Frame Rate</span></td>
        <td class="settings-item-value"><input type="text" class="range styled device camera-config" id="framerateSlider"></td>
        <td><span class="help-mark" title="sets the number of frames captured by the camera every second (higher values produce smoother videos but require more CPU power, larger storage space and bandwidth)">?</span></td>
    </tr>
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label">Extra Motion Options</span></td>
        <td class="settings-item-value"><textarea class="styled device camera-config" id="extraOptionsEntry" rows="3"></textarea></td>
        <td><span class="help-mark" title="you can add here any extra options for the motion daemon (use the &quot;name value&quot; format, one option per line)">?</span></td>
    </tr>
    {% for config in camera_sections.get('device', {}).get('configs', []) %}
        {{config_item(config)}}
    {% endfor %}
</table>

{% endblock %}